<!DOCTYPE html>
<html>
<head>
    <title>¡Feliz Aniversario! 💖</title>
    <style>
        body { font-family: Arial; text-align: center; background: #ffe6e6; padding: 20px; }
        h1 { color: #ff4d4d; }
        audio { margin: 20px; }
    </style>
</head>
<body>
    <h1>¡Feliz 1er Aniversario!</h1>
    <p>Creado con amor por tu Amorcito ❤️</p>
    
    <!-- Reproductor de música (autoplay en loop) -->
    <audio controls autoplay loop>
        <source src="/static/song.mp3" type="audio/mpeg">
    </audio>

    <h3>Mensajes especiales:</h3>
    <ul>
        <li><a href="/photo" target="_blank">Nuestra primera salidaa</a></li>
        <li><a href="/fotito" target="_blank">Con polerones goals</a></li>
        <li><a href="/halloween" target="_blank">Nuestro primer jargulin juntitos</a></li>
        <li><a href="/maitencillo" target="_blank">Salida a Maitencillo ajiji</a></li>
        <li><a href="/comida" target="_blank">El pie que me hiciste pa mi cumple</a></li>
        <!-- <li><a href="/photo" target="_blank">Nuestra foto</a></li> -->
    </ul>
</body>
</html>